@import '../../styles/base.scss';

:local {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
  }
  .quote {
    font-family: Clan;
    font-style: italic;
    font-size: $font-size-xl;
    text-align: center;
    display: block;
    color: $blue;
  }
  .authorWrapper {
    display: flex;
    font-size: $font-size-m;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    .img {
      border-radius: 100px;
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    .name {
      font-weight: bold;
      margin-right: 5px;
    }
    .job {
      color: $dark-grey--4;
    }
  }
}