@import '../../styles/base.scss';
:local {
  .btn {
    text-decoration: none;
    padding: 10px 15px;
    background-color: $white;
    color: $grey-90;
    transition: $transition-fast;

    &:hover {
      color: $grey-90;
    }

    &.dark {
      background-color: $grey-90;
      color: $white
    }
  }
}