@import '../../styles/base.scss';

:local {
  .logos {
    display: flex;
    padding: 0 20px;
    width: calc(100vw - 40px);
    background-color: $dark-grey--7;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;

    @media screen and (min-width: $break-phablet-min) {
      flex-direction: row;
      height: 80px;
    }
  }
  .left {
    display: flex;
    align-items: flex-start;
  }

  .bottom {
    padding: 14px 20px;
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $blue--2;
    color: $dark-grey--7;

    .items {
      display: flex;
      gap: 38px;
      padding: 16px 0;
    }
    .copyright {
      font-size: 14px;
    }
    .link {
      color: $dark-grey--7;
      font-size: 14px;
    }

    @media screen and (min-width: $medium-content-width) {
      flex-direction: row;
      justify-content: center;
      gap: 33%;
    }
  }
  .block {
    margin: 10px 40px 10px 0;
    display: block;
    width: 150px;

    &.skzl {
      width: 170px;
    }

    &.tsb {
      width: 120px;
    }

    &.citylab {
      width: 125px;
    }
  }
  .label {
    font-size: $font-size-s;
    min-height: 20px;
    display: block;
  }
  .logoWrapper {
    max-width: 35rem;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}