@import "./constants";

:export {
  darkGrey1: $grey-90;
  darkGrey2: $grey-80;
  darkGrey3: $grey-70;
  darkGrey4: $grey-60;
  darkGrey5: $grey-50;
  darkGrey6: $grey-40;
  darkGrey7: $grey-30;
  literacy: $color-literacy;
  newClassrooms: $color-new-classrooms;
  childLaborRisk: $color-child-labor-risk;
  teachers: $color-teachers;
  infrastructure: $color-infrastructure;
  initiatives: $color-initiatives;
  notStarted: $color-behind-schedule;
  started: $color-on-track;
  certified: $color-certified;
  completed: $color-completed;
  initiative1: $initiative-01;
  initiative2: $initiative-02;
  initiative3: $initiative-03;
  behindSchedule: $color-behind-schedule;
  onTrack: $color-on-track;
  completed: $color-completed;
}
