@import '../../styles/base.scss';

:local {
  .console {
    max-width: 289px;
    min-height: 464px;
    padding: 18px;
    background-color: $light-blue;
    margin: 0 auto;
  }

  .contentSlider {
    display: flex;
    gap: 28px;
    align-items: stretch;
  }
}