:local {
  .header {
    top: 0;
    position: fixed;
    z-index: 2;
    height: 50px;
    width: calc(100% - 80px);
    padding: 0 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
}