@import '../../styles/base.scss';

:local {
  .wrapper {
    height: auto;
    width: auto;
    max-width: $medium-content-width;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}