@import '../../styles/base.scss';
:local {
  .headline {
    line-height: 100%;
    margin: 20px auto 35px;
    font-size: $font-size-xl;
    font-weight: $bold-text;
    max-width: $medium-content-width;
  }
}