@import '../../styles/base.scss';
:local {
  .link {
    padding: 7px 12px 7px 15px;
    background-color: $corporate-blue-transparent;
    border-radius: 100px;
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 33px 10px 0 0;
    color: $corporate-blue;
  }

  .iconWrapper {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-left: 5px;
    background-color: $corporate-blue;

    svg {
      width: 20px;
      height: 8px;
    }
  }
}