@import '../../styles/base.scss';
:local {
  .link {
    padding: 8px 8px 8px 16px;
    background-color: $corporate-blue-transparent;
    border-radius: 56px;
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 33px 18px 0 0;
    color: $corporate-blue;
    font-weight: inherit;
  }

  .iconWrapper {
    width: 24px;
    height: 24px;
    border-radius: 56px;
    margin-left: 16px;
    background-color: white;
    @include flex();

    svg {
      color: $corporate-blue;
    }
  }
}